/* div{
    text-align: center;
} */


.jopka {
	font-family: 'Indie Flower', cursive;
	font-weight: 100;
	font-size: 90px;
	color: #fff;
	text-shadow: 
	0 0 10px rgba(255,255,255,.8),
	0 0 20px rgba(255,255,255,.8),
	0 0 22px rgba(255,255,255,.8),
	0 0 40px rgba(219,66,217,.8),
	0 0 60px rgba(219,66,217,.8),
	0 0 80px rgba(219,66,217,.8),
	0 0 100px rgba(219,66,217,.5),
	0 0 140px rgba(219,66,217,.5),
	0 0 200px rgba(219,66,217,.5);
	animation: neon 3s infinite;
	animation-timing-function: linear;
}

@keyframes neon {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	55% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	63% {
		opacity: 1;
	}
	93% {
		opacity: 1;
	}
	95% {
		opacity: 0;
	}
	97% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

/* p{
    font-size: 30px;
    color:red;
} */

/* h1 {
    font-size: 60px;
    color:pink;
    background-color: rgb(201, 214, 214);
} */

/* #inara{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: pink;
} */